# API Base URLs
POLARIS_BASE_URL=https://polaris-dev.getpanda.money/api/v1
CASTOR_BASE_URL=https://castor-dev.getpanda.money/api/v1
CARINA_BASE_URL=https://carina-dev.getpanda.money/api/v1

# Stallion OTA Configuration
STALLION_PROJECT_ID=69a66f6a5d1782299cad9add
STALLION_CI_TOKEN=
